@font-face {
  font-family: 'iconfont';
  /* project id 1630656 */
  src: url('//at.alicdn.com/t/font_1630656_ni40la0iscq.eot');
  src: url('//at.alicdn.com/t/font_1630656_ni40la0iscq.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1630656_ni40la0iscq.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1630656_ni40la0iscq.woff') format('woff'),
    url('//at.alicdn.com/t/font_1630656_ni40la0iscq.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1630656_ni40la0iscq.svg#iconfont') format('svg');
}